/*Footer done by Elaine November 27, 2019, inspired by stackoverflow*/
.footer {
	height: 50px;
	overflow: hidden;
	position: fixed; 
	left: 0px;
	bottom: 0px;
	width: 100%;
	min-width: auto;
	margin: 50px auto auto auto;
	padding-top: 15px;
	display: block;
	color: hsla(0,0%,80%,1);
	background-color: hsl(271, 100%, 8%);
	text-align: center;
	font-family: "Century Gothic";
}
	

/*#########################################################################*/

/* This part by Nathan November 27, 2019 */

/*body{
font-family: arial;
margin: 5% 10% 0% 10%;				      top right bottom left
background-color:#222;
color: white;
} */

.hamburger {					              /*hamburger bars*/
  width: 35px;					            /*bar width*/
  height: 5px;					            /*bar height*/
  background-color: hsla(0,0%,80%,1);			  /*bar colour*/
  margin: 6px 0px;				          /*spacing between bars*/
}

#click-me {
width: 35px;
}

#click-me:hover .hamburger{
background-color:orange;
}	

/*https://stackoverflow.com/questions/6910049/on-a-css-hover-event-can-i-change-another-divs-styling*/
/*http://jsfiddle.net/u7tYE/*/

#icon-bar {				                  /*navigation pop up*/
  background-color: #333;
  position: absolute;				        /*anchored to page*/
  display: none;				            /*start collapsed*/
  padding-right: 10px;
}
#icon-bar a{					              /*navigation links*/
  display: block;
  padding: 16px;
  transition: all 0.3s ease;
  color: hsla(0,0%,80%,1);
  font-size: 20px;
  text-decoration: none;
  background-color: #444;
  margin-left:10px;
  margin-bottom:10px;
  font-family: "Century Gothic";
}
#icon-bar a:hover {				          /*navigation links*/
  background-color: purple; 			/*hover colour chosen by DANILLE*/
}
.left{						                  /*left-align columns*/
float:left;
}

h4.nav{						                  /*column headings*/
padding:16px;
color: hsla(0,0%,80%,1);
font-family: "Century Gothic";
}

#navigation{
	position:absolute;
	top: 45.440px;
	width: 500px;
}

#title{
	position: relative;
	margin-left: 65px;
	margin-right:65px;
}
/*#########################################################################*/

/* Sarah Bencic
CSS for Skill Bars */

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.page-wrap {
  padding: 2em;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
}

//The skill bars

.skill-bar-container {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: whitesmoke;
    margin-bottom: 0.5em;
    .skill-bar {
        display: block;
        border-radius: 4px;
        height: 25px;
        background-color: #d7edfa;
            .level1 { width: 20%; background-color: #d7edfa}
            .level2 { width: 40%; background-color: #c8e7f8}
            .level3 { width: 60%; background-color: #b9e0f7}
            .level4 { width: 80%; background-color: #b9e0f7}
            .level5 { width: 100%; background-color: #9ad3f3}
    }
    .skill-name {
        position: absolute;
        top: 5px;
        left: 10px;
        color: #333;
        font-weight: 600;
    }
    .skill-percent {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #999;
    }
}
/* Sarah Bencic 
Source https://codepen.io/tamak/pen/hzEer */

/* Center the header, h2 and h3  for our webpage - Elaine Bradbee and Robyn Northway Nov 28/19 */
h1 {
	color: hsla(0,0%,80%,1);
	text-align: center;
	font-family: Bookman Old Style;
}
 h2 {
	 color: hsla(0,0%,80%,1);
	 text-align: left;
	 font-family: "Century Gothic";
 }
 h3 {
	 color: hsla(0,0%,80%,1);
	 text-align: left;
	 font-family: "Century Gothic";
}
/* Robyn changed the background colour to the body of the website, recieved code from: http://hslpicker.com* also added some sizing changes*/
body {
	background-color: hsl(271, 100%, 8%);
} 
/* Robyn changed the paragraph format*/
 p { 
	 color: hsla(0,0%,80%,1);
	 text-align:left;
	 font-family: "Century Gothic";
	 font-size:12px;
	 letter-spacing: 0.05em;
}
/* Robyn and Elaine created a div id="page" and Robyn applied CSS*/
#page {
	max-width:960px;
	min-width: auto;
	max-height:5000px; /*Robyn adjusted the max height because having it auto adjust was not working */
	min-height: auto; /*Robyn adjusted the height with a min and over flow using code via: https://stackoverflow.com/questions/2920114/how-to-auto-adjust-the-div-height-according-to-content-in-it*/
	overflow:hidden;
	padding:30px;
	margin: auto;
	margin-bottom:50px; /*added so foot stays at bottom*/
	display: block;
	position: relative;
	border-radius: 5px;
	background-color:hsl(0, 0%,5%);
}
/* Robyn and Elaine created profile div id and Robyn applied CSS*/
#profile {
	max-width:400px;
	min-width:auto;
	float: right;
	max-height: 720px;
	height:auto;
	padding: 15px;
	margin-left: 5px;
	overflow:scroll; /* Robyn added overflow scroll from https://css-tricks.com/the-css-overflow-property/*/
}
/* Robyn - image alignment code borrowed from HTML & CSS text written by Jon Duckett*/	

/* Robyn and Elaine created image div id and Robyn applied CSS*/
#image {
	max-width:500px;
	min-width:auto;
	float: left;
	padding:5px;
	margin-top: 20px;
	margin-right:15px;
}
img {
	width:100%;
	max-width: 470px;
	height: auto;
}

/* Robyn and Elaine added skills div id and Robyn applied CSS to it*/
#skills {
	max-width:900px;
	min-width: auto;
	float: left;
	max-height: 750px;
	padding: 5px;
	margin-top: 5px;
	margin-right:5px;
	display: block;
}
div.flexcon { /* Robyn added a id class to contain elements to alow for flex box code to work, got code and inspiration from: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:space-around;
}
/* Robyn created profile class id and applied CSS*/
div.profile {
	max-width:400px;
	min-width:auto;
	float: right;
	max-height: 600px;
	min-height:auto;
	padding: 5px;
	margin-top: 20px;
	margin-left: 5px;
	overflow:scroll; /* Robyn added overflow scroll from https://css-tricks.com/the-css-overflow-property/*/
}
/* Robyn - image alignment code borrowed from HTML & CSS text written by Jon Duckett*/	

/* Robyn aimage div class and Robyn applied CSS*/
div.image {
	max-width:500px;
	min-width:auto;
	max-height: 600px;
	min-height:auto;
	float: left;
	padding:5px;
	margin-top: 20px;
	margin-right:15px;
}

.bump {
	margin-right: 145px;
}

/* Danielle added contact form and applied CSS to it - inspired by https://www.quackit.com/html/codes/html_form_code.cfm */
.myForm { 
	font-family: "Century Gothic";
	font-size: 12px;
	width: 500px;
	padding: 5px;
	
}

.myForm input[type="text"],
.myForm input[type="email"],
.myForm input[type="tel"],
.myForm input[type="text"],
.myForm select,
.myForm textarea {
	display: block;
	width: 100%; 
	font-family: "Century Gothic";
	font-size: 14px;
}

.myForm textarea {
	height: 75px;
}

.myForm button {
	padding: 5px;
	border-radius: 5px;
	background: hsla(0,0%,80%,1);
	font-family: "Century Gothic";
	font-weight: italic;
	margin-top: 5px;
	 
}
	
#button {
	text-decoration: none;
	font-family: "Century Gothic";
	color: black; 
	
}

.myForm button:hover {
	background: purple;
}

}*/
/*Robyn added colour and style to scroll bar courtesy of https://css-tricks.com/almanac/properties/s/scrollbar/ */
body::-webkit-scrollbar {
  width: 1em;
}
  
body::-webkit-scrollbar-thumb {
  background-color: orange;
  outline: 1px black;
}
div.profile::-webkit-scrollbar {
  width: .5em;
}
 div.profile::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
div.profile::-webkit-scrollbar-thumb {
  background-color: purple;
  outline: 1px black;
}
#profile::-webkit-scrollbar {
  width: .5em;
}
#profile::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#profile::-webkit-scrollbar-thumb {
  background-color: purple;
  outline: 1px black;
}
/* Robyn and Sarah applied CSS to lists from robyn's favourite source: https://css-tricks.com/almanac/properties/l/list-style/  */
ul {
	list-style-type:circle;
	list-style-position:outside;
}
li {
	 color: hsla(0,0%,80%,1);
	 text-align:left;
	 font-family: "Century Gothic";
	 font-size:14px;
	 letter-spacing: 0.05em;
	 
}
