/*Footer done by Elaine November 27, 2019*/
.footer {
	height: 50px;
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 50px auto auto auto;
	display: block;
	background-color: #black; /*Robyn's attempt change footer colour to black using code from https://www.rapidtables.com/web/css/css-color.html*/
	color: white;
	text-align: center;
}

/*#########################################################################*/

/* This part by Nathan November 27, 2019 */

body{
font-family: arial;
margin: 5% 10% 0% 10%;				      /*top right bottom left*/
background-color:#222;
color: white;
}
.hamburger {					              /*hamburger bars*/
  width: 35px;					            /*bar width*/
  height: 5px;					            /*bar height*/
  background-color: white;			  /*bar colour*/
  margin: 6px 0px;				          /*spacing between bars*/
}
#icon-bar {				                  /*navigation pop up*/
  background-color: #333;
  position: absolute;				        /*anchored to page*/
  display: none;				            /*start collapsed*/
  padding-right: 10px;
}
#icon-bar a{					              /*navigation links*/
  display: block;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #444;
  margin-left:10px;
  margin-bottom:10px;
}
#icon-bar a:hover {				          /*navigation links*/
  background-color: purple; 			/*hover colour chosen by DANILLE*/
}
.left{						                  /*left-align columns*/
float:left;
}
h4.nav{						                  /*column headings*/
padding:16px;
color:white;
}
/*#########################################################################*/

/* Sarah Bencic
CSS for Skill Bars */
body {
  font-family: 'Ubuntu', sans-serif;
  width:960px;
}

p{
  color:#525252;
  font-size:12px;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

/* Sarah Bencic 
Source https://codepen.io/tamak/pen/hzEer */

/* centering the header for our webpage to be centered beside the hamburger nav bar- Robyn Northway Nov 28/19 */
h1 {
	background-color: black;
	color: white;
	text-align: center;
	font-family: Bookman Old Style;
}
